<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul id="title">
            <li>Doctor's Dairy</li>
        </ul>
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="/patient-login">Patient</a></li>
        </ul>
    </nav>
    <main>
        <div class="center">
            <div>
                <h2 style="color: green;">BOOKING CONFORMED</h2>
                <h3>Patientid : <%= patientname%><%=patientid%></h3>
                <h3>Doctorid : <%=doctorid%></h3>
                <p>Day : <%= day%></p>
                <p>Time : <%= time%></p>
            </div>
        </div>
    </main>
</body>
</html>